body {
    height: 100%;
    background-color: #EBECF0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #2C313F;
}
