.container {
    width: calc(1200px + 2 * var(--container-padding));
    margin-left: auto;
    margin-right: auto;
    border-left: var(--container-padding) solid transparent;
    border-right: var(--container-padding) solid transparent;
}


@media (1700px <= width) {

    .container {
        width: calc(1600px + 2 * var(--container-padding));
    }
}


@media (width < 740px) {

    .container {
        width: auto;
        max-width: 414px;
    }
}
