.team {
    margin-top: var(--sections-spacing);
}
    .team__heading {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 810px;
        font-weight: 800;
        font-size: 28px;
        line-height: 34px;
    }

    .team__body {
        margin-top: 60px;
    }

        /* Небольшая коррекция на высоту анимации var(--fade-in-translate), чтобы она не обрезалась слайдером: */

        .team__body .swiper {
            margin-bottom: calc(-1 * var(--fade-in-translate));
        }

        .team__body .swiper-slide {
            padding-bottom: var(--fade-in-translate);
        }


        .team__navigation {

        }

        @media (740px <= width) {

            .team__navigation {
                display: none;
            }
        }



@media (1700px <= width) {

    .team {

    }
        .team__heading {
            max-width: 940px;
            font-size: 32px;
            line-height: 39px;
        }

        .team__body {
            /*margin-top: 60px;*/
        }
            .team__navigation {

            }
}



@media (width < 740px) {

    .team {

    }
        .team__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*max-width: 810px;*/
            /*font-weight: 800;*/
            font-size: 20px;
            line-height: 24px;
        }

        .team__body {
            margin-top: 40px;
        }
            .team__navigation {

            }
}

